<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523031459496-7f2g2o8rev5qu1m2ciesg50jvjoapbvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523031459496-7f2g2o8rev5qu1m2ciesg50jvjoapbvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCOjmpZMjJqRtNyJkklnMtn1-jFPKydnQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>523031459496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tspeake.Wordle-Comp3</string>
	<key>PROJECT_ID</key>
	<string>wordledatabase-fc64c</string>
	<key>STORAGE_BUCKET</key>
	<string>wordledatabase-fc64c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523031459496:ios:cc4e60a24b1a12e6fc349d</string>
</dict>
</plist>